
/*=======================================
 for additional customisations specific to this org's apptheme-mezzanine
=========================================*/
body {
  padding-top: 140px;
}

.alert {
  margin-bottom: 0rem;
  border-radius: 0rem;
  padding-top: 0.55rem;
  padding-bottom: 0.35rem;
}