{% extends "pages/page.html" %}

{% load mezzanine_tags static columns apptheme_mezzanine_tags %}

{% block main %}

<div>
        <p>{{page.portfolio.leader}}</p>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            {% for item in categories %}
            <li class="nav-item">
                <a class="nav-link {% if forloop.first %} active {% endif %}" id="{{item.slug}}-tab" data-toggle="tab" href="#{{item.slug}}" role="tab" aria-controls="{{item.slug}}" aria-selected="false">{{item.title}}</a>
            </li>
            {% endfor %}
        </ul>
        <div class="tab-content" id="myTabContent">
            {% for cat in categories %}
            <div class="tab-pane fade show {% if forloop.first %}active{% endif %}" id="{{cat.slug}}" role="tabpanel" aria-labelledby="{{cat.slug}}-tab">
                <!-- content for each category goes here -->
                
                    <div class="card-deck justify-content-center">
                        {% for item in items|portfolioitem_in_category:cat %}
                            {# does item.categories.all contain current cat ? (filter) #}

                                <div class="card text-center" style="min-width: 18rem; max-width: 18rem;">
                                    {# display the project logo if available, else first non-logo image, else icon #}
                                    {% if item.portfolioitem.logo %}
                                        {% with item.portfolioitem.logo as image %}
                                        <div class="card-header" style="padding: 0px;">
                                                <img src="{{ MEDIA_URL }}{% thumbnail image.file 300 0  %}" class="card-img-top" {% if image.alt_text %}alt="{{image.alt_text}}"{% endif %}>
                                        </div>
                                        {% endwith %}
                                    {% elif item.portfolioitem.notLogos %}
                                        {% for image in item.portfolioitem.notLogos %}
                                            {% if forloop.first %}
                                            <div class="card-header" style="padding: 0px;">
                                                    <img src="{{ MEDIA_URL }}{% thumbnail image.file 300 0  %}" class="card-img-top" {% if image.alt_text %}alt="{{image.alt_text}}"{% endif %}>
                                            </div>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <div class="card-header" style="padding: 2rem;">   
                                                {% if item.portfolioitem.icon %}
                                                    <span class="fa-stack fa-4x">
                                                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                                        <i class="fa {{ item.portfolioitem.icon }} fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                {% else %}
                                                    <span class="fa-stack fa-4x">
                                                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                                        <i class="fa fa-info fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                {% endif %}
                                        </div>
                                    {% endif %}
                                    <div class="card-body">
                                        <h4>{{ item.portfolioitem.title }}</h4>
                                        <p>{{item.portfolioitem.leader | safe}}</p>
                                        <a href="{{ item.get_absolute_url }}" class="btn btn-primary stretched-link">Learn More</a>
                                    </div>
                                </div>

                        {% endfor %}
                    </div>

            </div>
            {% endfor %}
        </div>


    
    </div>

    <br>
{% endblock %}

{% block right_wrapper %}{% endblock %}
